{{/* Taxonomy list (e.g., all tags, all categories) */}}
{{ define "content" }}
<section class="blog">
    <header>
        <h1>{{ .Title }}</h1>
        {{ with .Description }}
            <p>{{ . }}</p>
        {{ end }}
    </header>

    <div class="posts">
        {{ range .Data.Terms.Alphabetical }}
            <article class="post-preview">
                <h2>
                    <a href="{{ .Page.Permalink }}">{{ .Page.Title }} <span class="tag-count">({{ .Count }})</span></a>
                </h2>
                <div class="post-meta">
                    <div class="post-meta-left">
                    </div>
                    <div class="post-meta-right">
                    </div>
                </div>
            </article>
        {{ end }}
    </div>
</section>
{{ end }}

